@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Urbanist:wght@500&display=swap");
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
  padding: 0 2rem;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  padding: 0 5rem 2rem;
}

main {
  display: flex;
  flex-direction: row;
}
.ladoEsquerdo {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100vh;
  background-color: #ffcb00;

  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
.ladoEsquerdo img {
  width: 250px;
  height: auto;
}
#logo1 {
  width: 200px;
  height: 146px;
  margin-top: 0;
}
.ladoDireito{
  display: flex;
  flex-direction: column;
  width: 45%;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.caixaBotao{
  margin-top: 410px;
  padding: 30px;
  justify-content: center;
}
.bot1{
  background-color: #ffcb00;
  border-color: #ffcb00;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.bot1:hover{
  transition: linear;
  transform: scale(1.1);
  background-color: #ffcb00;
}
.bot2{
  background-color: #FFFFFF;
  border-color: #9D9D9D;
  font-size: 15px;
  text-decoration: none;
}
.bot2 img{
  width: 10%;
  float: inline-start;
}
.bot2:hover{
  transition: linear;
  transform: scale(1.1);
  background-color: transparent;
}
.bot1,
.bot2 {
  width: 333px;
  height: 61px;
  border-radius: 15px;
  margin-left: -24%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
}
a{
  color: #ffcb00;
  margin-left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
#registro{
  margin-left: 27%;
}
