@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Urbanist:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ffcb00 !important;
  color: #fff;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
}

a {
  color: #fff;
}

.home {
  flex: 1;
}

.logo {
  flex: 2;
  margin: 81px;
}
.logo1 {
  width: 47.83px;
  height: 40px;
  left: 0;
}

.logo2 {
  width: 105.22px;
  height: 33.04px;
  align-items: center;
}

.info {
  display: flex;
  flex: 8;
  justify-content: flex-end;
  align-items: center;
  margin: 32.5px;
}

.pin {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 60px 60px 0px 60px;
  position: relative;
  transform: rotate(45deg);
  margin: 9px;
}

.pin::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #ffcb00;
  position: absolute;
  left: 26%;
  top: 26%;
  border-radius: 60px;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 7.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.icon {
  flex: 1;
}

.img-icon {
  width: 35px;
  height: 35px;
  left: 1146px;
  top: 13px;
}

.pagina-inteira {
  display: flex;
  direction: row;
  align-items: flex-start;
}

.profile-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  width: 440px;
  height: 650px;
  margin-left: 21px;
  margin-top: 37px;
  align-items: center;
  background: #ffda4b;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 2rem;
}

.profile-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.luisaMel {
  margin-top: 40px;
}

#local-icon {
  margin-right: 11px;
}

#localizacao {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#profile-name {
  font-size: 38.8px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 1rem;
}

#profile-function {
  font-size: 20.15px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #555554;
}

#profile-local {
  font-size: 19.78px;
  font-weight: 500;
}

button {
  display: flex;
  background-color: #fffef9;
  border-radius: 91px;
  margin-top: 11px;
  font-weight: 800;
  font-family: "Urbanist", sans-serif;
  color: #262626;
  font-size: 19.78px;
  border: none;
  cursor: pointer;
  width: 389px;
  height: 59px;
  align-items: center;
  justify-content: center;
}

.profile-edit-button ul li {
  list-style: none;
  margin-top: 34px;
}

#lapis-icon {
  padding-right: 14px;
}

.infos {
  align-items: center;
  justify-content: center;
}

.sobre-mim {
  color: #555554;
  font-size: 18.19px;
  text-align: center;
  margin-top: 20px;
  margin-left: 27px;
}

.lorem-ipsum {
  text-align: justify;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.categories {
  display: flex;
  margin-top: 50px;
  margin-left: 53px;
}

.categories-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-all {
  width: fit-content;
  padding: 1.5rem 3rem;
  height: 43.4px;
  background: #ffcb00;
  border-radius: 21.7px;
  margin-right: 4.5rem;
}

.button-icon {
  display: flex;
  align-items: center;
}

.btn-img {
  padding-right: 0.5rem;
}

.card {
  height: 146px;
  background: #ffffff;
  border: 0.8px solid #f7f7f7;
  border-radius: 10px;
  margin-right: 4.5rem;
}

.card-img {
  display: flex;
  flex-direction: row;
  width: 315px;
}

.card-description {
  padding-left: 0.5rem;
}

.card-description h4 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 24.3756px;
  line-height: 140%;
  letter-spacing: 0.3px;
  color: #000000;
}

.card-description p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #e1e1e1;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
}

.card-footer img {
  padding-right: 0.5rem;
  width: 10px;
}

.card-footer h4 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.3px;
  padding: 0;
  margin: 0;

  color: #ffcb00;
}

.pets-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}